In [514]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

Set all the options

In [515]:
pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_columns", None)

Read the data

In [516]:
df = pd.read_csv("Leads.csv")

In [517]:
df.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,Country,Specialization,How did you hear about X Education,What is your current occupation,What matters most to you in choosing a course,Search,Magazine,Newspaper Article,X Education Forums,Newspaper,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Tags,Lead Quality,Update me on Supply Chain Content,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

Rename the columns

In [518]:
columns = {
    "Lead Origin": "origin",
    "Lead Source": "lead_source",
    "Total Time Spent on Website": "time_spent",
    "Page Views Per Visit": "num_page_per_visit",
    "Last Activity": "last_activity",
    "How did you hear about X Education": "hear_about_source",
    "What is your current occupation": "cur_occupation",
    "What matters most to you in choosing a course": "course_value",
    "Receive More Updates About Our Courses": "rcv_updates_course",
    "Lead Quality": "lead_quality",
    "Search": "search",
    "Magazine": "magazine",
    "Newspaper Article": "newspaper_article",
    "X Education Forums": "x_education_forum",
    "Newspaper": "newspaper",
    "Digital Advertisement": "digital_Advertisement",
    "Through Recommendations": "was_recommended",
    "Update me on Supply Chain Content": "rcv_updates_supplychain",
    "Get updates on DM Content": "rcv_updates_dm",
    "Lead Profile": "lead_profile",
    "Asymmetrique Activity Index": "asymetric_activity_index",
    "Asymmetrique Profile Index": "asymmetric_profile_index",
    "Asymmetrique Activity Score": "asymmetric_activity_score",
    "Asymmetrique Profile Score": "asymmetric_profile_score",
    "I agree to pay the amount through cheque": "agree_paymnt_cheque",
    "A free copy of Mastering The Interview": "free_copy_mastering_the_interview",
    "Last Notable Activity": "last_notable_activity",
    "Country": "country",
    "Specialization": "specialization"
}

In [519]:
df.rename(columns = columns, inplace = True)

In [520]:
df.head()

,Prospect ID,Lead Number,origin,lead_source,Do Not Email,Do Not Call,Converted,TotalVisits,time_spent,num_page_per_visit,last_activity,country,specialization,hear_about_source,cur_occupation,course_value,search,magazine,newspaper_article,x_education_forum,newspaper,digital_Advertisement,was_recommended,rcv_updates_course,Tags,lead_quality,rcv_updates_supplychain,rcv_updates_dm,lead_profile,City,asymetric_activity_index,asymmetric_profile_index,asymmetric_activity_score,asymmetric_profile_score,agree_paymnt_cheque,free_copy_mastering_the_interview,last_notable_activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

Inspect the data

In [521]:
df.shape

(9240, 37)

In [522]:
df.describe()

,Lead Number,Converted,TotalVisits,time_spent,num_page_per_visit,asymmetric_activity_score,asymmetric_profile_score
count,9240.000000,9240.000000,9103.000000,9240.000000,9103.000000,5022.000000,5022.000000
mean,617188.435606,0.385390,3.445238,487.698268,2.362820,14.306252,16.344883
std,23405.995698,0.486714,4.854853,548.021466,2.161418,1.386694,1.811395
min,579533.000000,0.000000,0.000000,0.000000,0.000000,7.000000,11.000000
25%,596484.500000,0.000000,1.000000,12.000000,1.000000,14.000000,15.000000
50%,615479.000000,0.000000,3.000000,248.000000,2.000000,14.000000,16.000000
75%,637387.250000,1.000000,5.000000,936.000000,3.000000,15.000000,18.000000
max,660737.000000,1.000000,251.000000,2272.000000,55.000000,18.000000,20.000000

In [523]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Prospect ID                        9240 non-null   object
 1   Lead Number                        9240 non-null   int64
 2   origin                             9240 non-null   object
 3   lead_source                        9204 non-null   object
 4   Do Not Email                       9240 non-null   object
 5   Do Not Call                        9240 non-null   object
 6   Converted                          9240 non-null   int64
 7   TotalVisits                        9103 non-null   float64
 8   time_spent                         9240 non-null   int64
 9   num_page_per_visit                 9103 non-null   float64
 10  last_activity                      9137 non-null   object
 11  country                            6779 non-null   object
 12  specialization                     7802 non-null   object
 13  hear_about_source                  7033 non-null   object
 14  cur_occupation                     6550 non-null   object
 15  course_value                       6531 non-null   object
 16  search                             9240 non-null   object
 17  magazine                           9240 non-null   object
 18  newspaper_article                  9240 non-null   object
 19  x_education_forum                  9240 non-null   object
 20  newspaper                          9240 non-null   object
 21  digital_Advertisement              9240 non-null   object
 22  was_recommended                    9240 non-null   object
 23  rcv_updates_course                 9240 non-null   object
 24  Tags                               5887 non-null   object
 25  lead_quality                       4473 non-null   object
 26  rcv_updates_supplychain            9240 non-null   object
 27  rcv_updates_dm                     9240 non-null   object
 28  lead_profile                       6531 non-null   object
 29  City                               7820 non-null   object
 30  asymetric_activity_index           5022 non-null   object
 31  asymmetric_profile_index           5022 non-null   object
 32  asymmetric_activity_score          5022 non-null   float64
 33  asymmetric_profile_score           5022 non-null   float64
 34  agree_paymnt_cheque                9240 non-null   object
 35  free_copy_mastering_the_interview  9240 non-null   object
 36  last_notable_activity              9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

### Data Cleaning


Remove Prospect Id as already Lead Number is present and it can be used as Id for predicted and actual value comparison

In [524]:
df = df.drop(["Prospect ID"], axis = 1)

In [525]:
df.head()

,Lead Number,origin,lead_source,Do Not Email,Do Not Call,Converted,TotalVisits,time_spent,num_page_per_visit,last_activity,country,specialization,hear_about_source,cur_occupation,course_value,search,magazine,newspaper_article,x_education_forum,newspaper,digital_Advertisement,was_recommended,rcv_updates_course,Tags,lead_quality,rcv_updates_supplychain,rcv_updates_dm,lead_profile,City,asymetric_activity_index,asymmetric_profile_index,asymmetric_activity_score,asymmetric_profile_score,agree_paymnt_cheque,free_copy_mastering_the_interview,last_notable_activity
0,660737,API,Olark Chat,No,No,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [526]:
df.origin.value_counts()

origin
Landing Page Submission    4886
API                        3580
Lead Add Form               718
Lead Import                  55
Quick Add Form                1
Name: count, dtype: int64

In [527]:
df.lead_source.value_counts()

lead_source
Google               2868
Direct Traffic       2543
Olark Chat           1755
Organic Search       1154
Reference             534
Welingak Website      142
Referral Sites        125
Facebook               55
bing                    6
google                  5
Click2call              4
Press_Release           2
Social Media            2
Live Chat               2
youtubechannel          1
testone                 1
Pay per Click Ads       1
welearnblog_Home        1
WeLearn                 1
blog                    1
NC_EDM                  1
Name: count, dtype: int64

In [528]:
df["Do Not Email"].value_counts()

Do Not Email
No     8506
Yes     734
Name: count, dtype: int64

In [529]:
df["Do Not Call"].value_counts()

Do Not Call
No     9238
Yes       2
Name: count, dtype: int64

This method converts yes / no to 1 / 0
- inverted: if true yes to 0 and no to 1

In [530]:
def yesno_to_01(x, inverted = False):
    temp = 0
    if inverted:
        temp = 0 if x == "yes" else 1
    else:
        temp = 1 if x == "yes" else 0
    return temp

In [531]:
df["Do Not Email"]  = df["Do Not Email"].apply(lambda x: yesno_to_01(x.lower(), inverted = True))

In [532]:
df["Do Not Email"].value_counts()

Do Not Email
1    8506
0     734
Name: count, dtype: int64

In [533]:
df["Do Not Email"].head()

0    1
1    1
2    1
3    1
4    1
Name: Do Not Email, dtype: int64

Before these columns were no and now it has been converted to true. Let's us rename column also as send_email

In [534]:
df.rename(columns = {"Do Not Email": "send_email"}, inplace = True)

In [535]:
df.head()

,Lead Number,origin,lead_source,send_email,Do Not Call,Converted,TotalVisits,time_spent,num_page_per_visit,last_activity,country,specialization,hear_about_source,cur_occupation,course_value,search,magazine,newspaper_article,x_education_forum,newspaper,digital_Advertisement,was_recommended,rcv_updates_course,Tags,lead_quality,rcv_updates_supplychain,rcv_updates_dm,lead_profile,City,asymetric_activity_index,asymmetric_profile_index,asymmetric_activity_score,asymmetric_profile_score,agree_paymnt_cheque,free_copy_mastering_the_interview,last_notable_activity
0,660737,API,Olark Chat,1,No,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,660728,API,Organic Search,1,No,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,660727,Landing Page Submission,Direct Traffic,1,No,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,660719,Landing Page Submission,Direct Traffic,1,No,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,660681,Landing Page Submission,Google,1,No,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

Let us do same for Do Not Call

In [536]:
df["Do Not Call"]  = df["Do Not Call"].apply(lambda x: yesno_to_01(x.lower(), inverted = True))

In [537]:
df["Do Not Call"].value_counts()

Do Not Call
1    9238
0       2
Name: count, dtype: int64

In [538]:
df.head()

,Lead Number,origin,lead_source,send_email,Do Not Call,Converted,TotalVisits,time_spent,num_page_per_visit,last_activity,country,specialization,hear_about_source,cur_occupation,course_value,search,magazine,newspaper_article,x_education_forum,newspaper,digital_Advertisement,was_recommended,rcv_updates_course,Tags,lead_quality,rcv_updates_supplychain,rcv_updates_dm,lead_profile,City,asymetric_activity_index,asymmetric_profile_index,asymmetric_activity_score,asymmetric_profile_score,agree_paymnt_cheque,free_copy_mastering_the_interview,last_notable_activity
0,660737,API,Olark Chat,1,1,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,660728,API,Organic Search,1,1,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,660727,Landing Page Submission,Direct Traffic,1,1,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,660719,Landing Page Submission,Direct Traffic,1,1,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,660681,Landing Page Submission,Google,1,1,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [539]:
df.rename(columns = {"Do Not Call": "call"}, inplace = True)

In [540]:
df.head()

,Lead Number,origin,lead_source,send_email,call,Converted,TotalVisits,time_spent,num_page_per_visit,last_activity,country,specialization,hear_about_source,cur_occupation,course_value,search,magazine,newspaper_article,x_education_forum,newspaper,digital_Advertisement,was_recommended,rcv_updates_course,Tags,lead_quality,rcv_updates_supplychain,rcv_updates_dm,lead_profile,City,asymetric_activity_index,asymmetric_profile_index,asymmetric_activity_score,asymmetric_profile_score,agree_paymnt_cheque,free_copy_mastering_the_interview,last_notable_activity
0,660737,API,Olark Chat,1,1,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,660728,API,Organic Search,1,1,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,660727,Landing Page Submission,Direct Traffic,1,1,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,660719,Landing Page Submission,Direct Traffic,1,1,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,660681,Landing Page Submission,Google,1,1,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [541]:
df.last_activity.value_counts()

last_activity
Email Opened                    3437
SMS Sent                        2745
Olark Chat Conversation          973
Page Visited on Website          640
Converted to Lead                428
Email Bounced                    326
Email Link Clicked               267
Form Submitted on Website        116
Unreachable                       93
Unsubscribed                      61
Had a Phone Conversation          30
Approached upfront                 9
View in browser link Clicked       6
Email Received                     2
Email Marked Spam                  2
Visited Booth in Tradeshow         1
Resubscribed to emails             1
Name: count, dtype: int64

In [542]:
df.country.isna().sum()

2461

In [543]:
null_percentage = df.country.isna().sum() / len(df.country) * 100
null_percentage

26.634199134199132

27% Null values almost. Not a good idea to drop the column at this stage

In [544]:
df.country.value_counts()

country
India                   6492
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Hong Kong                  7
Bahrain                    7
Oman                       6
France                     6
unknown                    5
South Africa               4
Nigeria                    4
Germany                    4
Kuwait                     4
Canada                     4
Sweden                     3
China                      2
Asia/Pacific Region        2
Uganda                     2
Bangladesh                 2
Italy                      2
Belgium                    2
Netherlands                2
Ghana                      2
Philippines                2
Russia                     1
Switzerland                1
Vietnam                    1
Denmark                    1
Tanzania                   1
Liberia                    1
Malaysia                   1
Kenya                      1
Sri Lanka                  1
Indonesia                  1
Name: count, dtype: int64

In [545]:
df.head()

,Lead Number,origin,lead_source,send_email,call,Converted,TotalVisits,time_spent,num_page_per_visit,last_activity,country,specialization,hear_about_source,cur_occupation,course_value,search,magazine,newspaper_article,x_education_forum,newspaper,digital_Advertisement,was_recommended,rcv_updates_course,Tags,lead_quality,rcv_updates_supplychain,rcv_updates_dm,lead_profile,City,asymetric_activity_index,asymmetric_profile_index,asymmetric_activity_score,asymmetric_profile_score,agree_paymnt_cheque,free_copy_mastering_the_interview,last_notable_activity
0,660737,API,Olark Chat,1,1,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,660728,API,Organic Search,1,1,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,660727,Landing Page Submission,Direct Traffic,1,1,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,660719,Landing Page Submission,Direct Traffic,1,1,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,660681,Landing Page Submission,Google,1,1,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [546]:
df.specialization.value_counts()

specialization
Select                               1942
Finance Management                    976
Human Resource Management             848
Marketing Management                  838
Operations Management                 503
Business Administration               403
IT Projects Management                366
Supply Chain Management               349
Banking, Investment And Insurance     338
Travel and Tourism                    203
Media and Advertising                 203
International Business                178
Healthcare Management                 159
Hospitality Management                114
E-COMMERCE                            112
Retail Management                     100
Rural and Agribusiness                 73
E-Business                             57
Services Excellence                    40
Name: count, dtype: int64

In [547]:
null_percentage = df.specialization.isna().sum() / len(df.specialization) * 100
null_percentage

15.562770562770561

Let us treat Select as null value as it seems to be a fe error where user did not select any specialization in dropdown

In [548]:
df["specialization"] = df.specialization.apply(lambda x: np.nan if x == "Select" else x)

In [549]:
df.specialization.value_counts()

specialization
Finance Management                   976
Human Resource Management            848
Marketing Management                 838
Operations Management                503
Business Administration              403
IT Projects Management               366
Supply Chain Management              349
Banking, Investment And Insurance    338
Travel and Tourism                   203
Media and Advertising                203
International Business               178
Healthcare Management                159
Hospitality Management               114
E-COMMERCE                           112
Retail Management                    100
Rural and Agribusiness                73
E-Business                            57
Services Excellence                   40
Name: count, dtype: int64

In [550]:
df.head()

,Lead Number,origin,lead_source,send_email,call,Converted,TotalVisits,time_spent,num_page_per_visit,last_activity,country,specialization,hear_about_source,cur_occupation,course_value,search,magazine,newspaper_article,x_education_forum,newspaper,digital_Advertisement,was_recommended,rcv_updates_course,Tags,lead_quality,rcv_updates_supplychain,rcv_updates_dm,lead_profile,City,asymetric_activity_index,asymmetric_profile_index,asymmetric_activity_score,asymmetric_profile_score,agree_paymnt_cheque,free_copy_mastering_the_interview,last_notable_activity
0,660737,API,Olark Chat,1,1,0,0.0,0,0.0,Page Visited on Website,NaN,NaN,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,660728,API,Organic Search,1,1,0,5.0,674,2.5,Email Opened,India,NaN,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,660727,Landing Page Submission,Direct Traffic,1,1,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,660719,Landing Page Submission,Direct Traffic,1,1,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,660681,Landing Page Submission,Google,1,1,1,2.0,1428,1.0,Converted to Lead,India,NaN,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [551]:
null_percentage = df.specialization.isna().sum() / len(df.specialization) * 100
null_percentage

36.58008658008658

let us see null precentage of hear_about_source

In [552]:
null_percentage = df.hear_about_source.isna().sum() / len(df.hear_about_source) * 100
null_percentage

23.885281385281385

In [553]:
df.hear_about_source.value_counts()

hear_about_source
Select                   5043
Online Search             808
Word Of Mouth             348
Student of SomeSchool     310
Other                     186
Multiple Sources          152
Advertisements             70
Social Media               67
Email                      26
SMS                        23
Name: count, dtype: int64

Again let us treat Select as null value

In [554]:
df["hear_about_source"] = df.hear_about_source.apply(lambda x: np.nan if x == "Select" else x)

In [555]:
null_percentage = df.hear_about_source.isna().sum() / len(df.hear_about_source) * 100
null_percentage

78.46320346320347

WHOOO!!! This column definitely needs to be dropped . Let us mark this column to be dropped later

In [556]:
print(df.cur_occupation.isna().sum())

2690

In [557]:
df.cur_occupation.value_counts()

cur_occupation
Unemployed              5600
Working Professional     706
Student                  210
Other                     16
Housewife                 10
Businessman                8
Name: count, dtype: int64

In [558]:
print(df.course_value.isna().sum())

2709

In [559]:
df.course_value.value_counts()

course_value
Better Career Prospects      6528
Flexibility & Convenience       2
Other                           1
Name: count, dtype: int64

In [560]:
df.search.isna().value_counts()

search
False    9240
Name: count, dtype: int64

In [561]:
df.search.value_counts()

search
No     9226
Yes      14
Name: count, dtype: int64

Let us convert yes/no to 1/0

In [562]:
df["search"] = df.search.apply(lambda x: yesno_to_01(x.lower()))

In [563]:
df.search.value_counts()

search
0    9226
1      14
Name: count, dtype: int64

In [564]:
df.magazine.isna().sum()

0

In [565]:
df.magazine.value_counts()

magazine
No    9240
Name: count, dtype: int64

In [566]:
df.shape

(9240, 36)

In [567]:
df["magazine"] = df.magazine.apply(lambda x: yesno_to_01(x.lower()))

In [568]:
df.magazine.value_counts()

magazine
0    9240
Name: count, dtype: int64

In [569]:
df.head()

,Lead Number,origin,lead_source,send_email,call,Converted,TotalVisits,time_spent,num_page_per_visit,last_activity,country,specialization,hear_about_source,cur_occupation,course_value,search,magazine,newspaper_article,x_education_forum,newspaper,digital_Advertisement,was_recommended,rcv_updates_course,Tags,lead_quality,rcv_updates_supplychain,rcv_updates_dm,lead_profile,City,asymetric_activity_index,asymmetric_profile_index,asymmetric_activity_score,asymmetric_profile_score,agree_paymnt_cheque,free_copy_mastering_the_interview,last_notable_activity
0,660737,API,Olark Chat,1,1,0,0.0,0,0.0,Page Visited on Website,NaN,NaN,NaN,Unemployed,Better Career Prospects,0,0,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,660728,API,Organic Search,1,1,0,5.0,674,2.5,Email Opened,India,NaN,NaN,Unemployed,Better Career Prospects,0,0,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,660727,Landing Page Submission,Direct Traffic,1,1,1,2.0,1532,2.0,Email Opened,India,Business Administration,NaN,Student,Better Career Prospects,0,0,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,660719,Landing Page Submission,Direct Traffic,1,1,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,0,0,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,660681,Landing Page Submission,Google,1,1,1,2.0,1428,1.0,Converted to Lead,India,NaN,Other,Unemployed,Better Career Prospects,0,0,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [570]:
df.newspaper_article.isna().sum()

0

In [571]:
df.newspaper_article.value_counts()

newspaper_article
No     9238
Yes       2
Name: count, dtype: int64

In [572]:
df["newspaper_article"] = df.newspaper_article.apply(lambda x: yesno_to_01(x.lower()))

In [573]:
df.newspaper_article.value_counts()

newspaper_article
0    9238
1       2
Name: count, dtype: int64

In [574]:
df.x_education_forum.isna().sum()

0

In [575]:
df.x_education_forum.value_counts()

x_education_forum
No     9239
Yes       1
Name: count, dtype: int64

In [576]:
df["x_education_forum"] = df.x_education_forum.apply(lambda x: yesno_to_01(x.lower()))

In [577]:
df.x_education_forum.value_counts()

x_education_forum
0    9239
1       1
Name: count, dtype: int64

In [578]:
df.newspaper.isna().sum()

0

In [579]:
df.newspaper.value_counts()

newspaper
No     9239
Yes       1
Name: count, dtype: int64

In [580]:
df.digital_Advertisement.isna().sum()

0

In [581]:
df.digital_Advertisement.value_counts()

digital_Advertisement
No     9236
Yes       4
Name: count, dtype: int64

In [582]:
df["digital_Advertisement"] = df.digital_Advertisement.apply(lambda x: yesno_to_01(x.lower()))

In [583]:
df.digital_Advertisement.value_counts()

digital_Advertisement
0    9236
1       4
Name: count, dtype: int64

#### Let us keep in mind we can remove search to digital_Advertisement columns and create a new column ad_source later on

In [584]:
df.was_recommended.isna().sum()

0

In [585]:
df.was_recommended.value_counts()

was_recommended
No     9233
Yes       7
Name: count, dtype: int64

In [586]:
df["was_recommended"] = df.was_recommended.apply(lambda x: yesno_to_01(x.lower()))

In [587]:
df.was_recommended.value_counts()

was_recommended
0    9233
1       7
Name: count, dtype: int64

In [588]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Lead Number                        9240 non-null   int64
 1   origin                             9240 non-null   object
 2   lead_source                        9204 non-null   object
 3   send_email                         9240 non-null   int64
 4   call                               9240 non-null   int64
 5   Converted                          9240 non-null   int64
 6   TotalVisits                        9103 non-null   float64
 7   time_spent                         9240 non-null   int64
 8   num_page_per_visit                 9103 non-null   float64
 9   last_activity                      9137 non-null   object
 10  country                            6779 non-null   object
 11  specialization                     5860 non-null   object
 12  hear_about_source                  1990 non-null   object
 13  cur_occupation                     6550 non-null   object
 14  course_value                       6531 non-null   object
 15  search                             9240 non-null   int64
 16  magazine                           9240 non-null   int64
 17  newspaper_article                  9240 non-null   int64
 18  x_education_forum                  9240 non-null   int64
 19  newspaper                          9240 non-null   object
 20  digital_Advertisement              9240 non-null   int64
 21  was_recommended                    9240 non-null   int64
 22  rcv_updates_course                 9240 non-null   object
 23  Tags                               5887 non-null   object
 24  lead_quality                       4473 non-null   object
 25  rcv_updates_supplychain            9240 non-null   object
 26  rcv_updates_dm                     9240 non-null   object
 27  lead_profile                       6531 non-null   object
 28  City                               7820 non-null   object
 29  asymetric_activity_index           5022 non-null   object
 30  asymmetric_profile_index           5022 non-null   object
 31  asymmetric_activity_score          5022 non-null   float64
 32  asymmetric_profile_score           5022 non-null   float64
 33  agree_paymnt_cheque                9240 non-null   object
 34  free_copy_mastering_the_interview  9240 non-null   object
 35  last_notable_activity              9240 non-null   object
dtypes: float64(4), int64(11), object(21)
memory usage: 2.5+ MB

In [589]:
df.rcv_updates_course.value_counts()

rcv_updates_course
No    9240
Name: count, dtype: int64

In [590]:
df["rcv_updates_course"] = df.rcv_updates_course.apply(lambda x: yesno_to_01(x.lower()))

In [591]:
df.rcv_updates_course.value_counts()

rcv_updates_course
0    9240
Name: count, dtype: int64

In [592]:
df.Tags.value_counts()

Tags
Will revert after reading the email                  2072
Ringing                                              1203
Interested in other courses                           513
Already a student                                     465
Closed by Horizzon                                    358
switched off                                          240
Busy                                                  186
Lost to EINS                                          175
Not doing further education                           145
Interested  in full time MBA                          117
Graduation in progress                                111
invalid number                                         83
Diploma holder (Not Eligible)                          63
wrong number given                                     47
opp hangup                                             33
number not provided                                    27
in touch with EINS                                     12
Lost to Others                                          7
Still Thinking                                          6
Want to take admission but has financial problems       6
In confusion whether part time or DLP                   5
Interested in Next batch                                5
Lateral student                                         3
Shall take in the next coming month                     2
University not recognized                               2
Recognition issue (DEC approval)                        1
Name: count, dtype: int64

In [593]:
df.lead_quality .value_counts()

lead_quality
Might be             1560
Not Sure             1092
High in Relevance     637
Worst                 601
Low in Relevance      583
Name: count, dtype: int64

In [594]:
df.rcv_updates_supplychain.value_counts()

rcv_updates_supplychain
No    9240
Name: count, dtype: int64

In [595]:
df["rcv_updates_supplychain"] = df.rcv_updates_supplychain.apply(lambda x: yesno_to_01(x.lower()))

In [596]:
df.rcv_updates_supplychain.value_counts()

rcv_updates_supplychain
0    9240
Name: count, dtype: int64

In [597]:
df.rcv_updates_dm .value_counts()

rcv_updates_dm
No    9240
Name: count, dtype: int64

In [598]:
df["rcv_updates_dm"] = df.rcv_updates_dm.apply(lambda x: yesno_to_01(x.lower()))

In [599]:
df.rcv_updates_dm .value_counts()

rcv_updates_dm
0    9240
Name: count, dtype: int64

In [600]:
df.lead_profile.value_counts()

lead_profile
Select                         4146
Potential Lead                 1613
Other Leads                     487
Student of SomeSchool           241
Lateral Student                  24
Dual Specialization Student      20
Name: count, dtype: int64

In [601]:
df["lead_profile"] = df.lead_profile.apply(lambda x: np.nan if x == "Select" else x)

In [602]:
df.lead_profile.value_counts()

lead_profile
Potential Lead                 1613
Other Leads                     487
Student of SomeSchool           241
Lateral Student                  24
Dual Specialization Student      20
Name: count, dtype: int64

In [603]:
df.lead_profile.isna().sum()

6855

In [604]:
df.City.value_counts()

City
Mumbai                         3222
Select                         2249
Thane & Outskirts               752
Other Cities                    686
Other Cities of Maharashtra     457
Other Metro Cities              380
Tier II Cities                   74
Name: count, dtype: int64

In [605]:
df["City"] = df.City.apply(lambda x: np.nan if x == "Select" else x)

In [606]:
df.City.value_counts()

City
Mumbai                         3222
Thane & Outskirts               752
Other Cities                    686
Other Cities of Maharashtra     457
Other Metro Cities              380
Tier II Cities                   74
Name: count, dtype: int64

In [607]:
df.City.isna().sum()

3669

In [608]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Lead Number                        9240 non-null   int64
 1   origin                             9240 non-null   object
 2   lead_source                        9204 non-null   object
 3   send_email                         9240 non-null   int64
 4   call                               9240 non-null   int64
 5   Converted                          9240 non-null   int64
 6   TotalVisits                        9103 non-null   float64
 7   time_spent                         9240 non-null   int64
 8   num_page_per_visit                 9103 non-null   float64
 9   last_activity                      9137 non-null   object
 10  country                            6779 non-null   object
 11  specialization                     5860 non-null   object
 12  hear_about_source                  1990 non-null   object
 13  cur_occupation                     6550 non-null   object
 14  course_value                       6531 non-null   object
 15  search                             9240 non-null   int64
 16  magazine                           9240 non-null   int64
 17  newspaper_article                  9240 non-null   int64
 18  x_education_forum                  9240 non-null   int64
 19  newspaper                          9240 non-null   object
 20  digital_Advertisement              9240 non-null   int64
 21  was_recommended                    9240 non-null   int64
 22  rcv_updates_course                 9240 non-null   int64
 23  Tags                               5887 non-null   object
 24  lead_quality                       4473 non-null   object
 25  rcv_updates_supplychain            9240 non-null   int64
 26  rcv_updates_dm                     9240 non-null   int64
 27  lead_profile                       2385 non-null   object
 28  City                               5571 non-null   object
 29  asymetric_activity_index           5022 non-null   object
 30  asymmetric_profile_index           5022 non-null   object
 31  asymmetric_activity_score          5022 non-null   float64
 32  asymmetric_profile_score           5022 non-null   float64
 33  agree_paymnt_cheque                9240 non-null   object
 34  free_copy_mastering_the_interview  9240 non-null   object
 35  last_notable_activity              9240 non-null   object
dtypes: float64(4), int64(14), object(18)
memory usage: 2.5+ MB

In [609]:
df.newspaper.value_counts()

newspaper
No     9239
Yes       1
Name: count, dtype: int64

In [610]:
df["newspaper"] = df.newspaper.apply(lambda x: yesno_to_01(x.lower()))

In [611]:
df.newspaper.value_counts()

newspaper
0    9239
1       1
Name: count, dtype: int64

In [612]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Lead Number                        9240 non-null   int64
 1   origin                             9240 non-null   object
 2   lead_source                        9204 non-null   object
 3   send_email                         9240 non-null   int64
 4   call                               9240 non-null   int64
 5   Converted                          9240 non-null   int64
 6   TotalVisits                        9103 non-null   float64
 7   time_spent                         9240 non-null   int64
 8   num_page_per_visit                 9103 non-null   float64
 9   last_activity                      9137 non-null   object
 10  country                            6779 non-null   object
 11  specialization                     5860 non-null   object
 12  hear_about_source                  1990 non-null   object
 13  cur_occupation                     6550 non-null   object
 14  course_value                       6531 non-null   object
 15  search                             9240 non-null   int64
 16  magazine                           9240 non-null   int64
 17  newspaper_article                  9240 non-null   int64
 18  x_education_forum                  9240 non-null   int64
 19  newspaper                          9240 non-null   int64
 20  digital_Advertisement              9240 non-null   int64
 21  was_recommended                    9240 non-null   int64
 22  rcv_updates_course                 9240 non-null   int64
 23  Tags                               5887 non-null   object
 24  lead_quality                       4473 non-null   object
 25  rcv_updates_supplychain            9240 non-null   int64
 26  rcv_updates_dm                     9240 non-null   int64
 27  lead_profile                       2385 non-null   object
 28  City                               5571 non-null   object
 29  asymetric_activity_index           5022 non-null   object
 30  asymmetric_profile_index           5022 non-null   object
 31  asymmetric_activity_score          5022 non-null   float64
 32  asymmetric_profile_score           5022 non-null   float64
 33  agree_paymnt_cheque                9240 non-null   object
 34  free_copy_mastering_the_interview  9240 non-null   object
 35  last_notable_activity              9240 non-null   object
dtypes: float64(4), int64(15), object(17)
memory usage: 2.5+ MB

In [613]:
df.asymetric_activity_index.value_counts()

asymetric_activity_index
02.Medium    3839
01.High       821
03.Low        362
Name: count, dtype: int64

In [614]:
df.asymmetric_profile_index.value_counts()

asymmetric_profile_index
02.Medium    2788
01.High      2203
03.Low         31
Name: count, dtype: int64

Let us rename these values of High, Low and Medium

In [616]:
def process_index_values(x):
    if x == "02.Medium":
        return "Medium"
    elif x == "01.High":
        return "High"
    elif x == "03.Low":
        return "Low"
    else:
        return x

In [617]:
df["asymetric_activity_index"] = df.asymetric_activity_index.apply(lambda x: process_index_values(x))

In [618]:
df.asymetric_activity_index.value_counts()

asymetric_activity_index
Medium    3839
High       821
Low        362
Name: count, dtype: int64

In [619]:
df["asymmetric_profile_index"] = df.asymmetric_profile_index.apply(lambda x: process_index_values(x))

In [620]:
df.asymmetric_profile_index.value_counts()

asymmetric_profile_index
Medium    2788
High      2203
Low         31
Name: count, dtype: int64

In [621]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Lead Number                        9240 non-null   int64
 1   origin                             9240 non-null   object
 2   lead_source                        9204 non-null   object
 3   send_email                         9240 non-null   int64
 4   call                               9240 non-null   int64
 5   Converted                          9240 non-null   int64
 6   TotalVisits                        9103 non-null   float64
 7   time_spent                         9240 non-null   int64
 8   num_page_per_visit                 9103 non-null   float64
 9   last_activity                      9137 non-null   object
 10  country                            6779 non-null   object
 11  specialization                     5860 non-null   object
 12  hear_about_source                  1990 non-null   object
 13  cur_occupation                     6550 non-null   object
 14  course_value                       6531 non-null   object
 15  search                             9240 non-null   int64
 16  magazine                           9240 non-null   int64
 17  newspaper_article                  9240 non-null   int64
 18  x_education_forum                  9240 non-null   int64
 19  newspaper                          9240 non-null   int64
 20  digital_Advertisement              9240 non-null   int64
 21  was_recommended                    9240 non-null   int64
 22  rcv_updates_course                 9240 non-null   int64
 23  Tags                               5887 non-null   object
 24  lead_quality                       4473 non-null   object
 25  rcv_updates_supplychain            9240 non-null   int64
 26  rcv_updates_dm                     9240 non-null   int64
 27  lead_profile                       2385 non-null   object
 28  City                               5571 non-null   object
 29  asymetric_activity_index           5022 non-null   object
 30  asymmetric_profile_index           5022 non-null   object
 31  asymmetric_activity_score          5022 non-null   float64
 32  asymmetric_profile_score           5022 non-null   float64
 33  agree_paymnt_cheque                9240 non-null   object
 34  free_copy_mastering_the_interview  9240 non-null   object
 35  last_notable_activity              9240 non-null   object
dtypes: float64(4), int64(15), object(17)
memory usage: 2.5+ MB

In [622]:
df.agree_paymnt_cheque.value_counts()

agree_paymnt_cheque
No    9240
Name: count, dtype: int64

In [623]:
df["agree_paymnt_cheque"] = df.agree_paymnt_cheque.apply(lambda x: yesno_to_01(x.lower()))

In [624]:
df.agree_paymnt_cheque.value_counts()

agree_paymnt_cheque
0    9240
Name: count, dtype: int64

In [625]:
df["free_copy_mastering_the_interview"].value_counts()

free_copy_mastering_the_interview
No     6352
Yes    2888
Name: count, dtype: int64

In [626]:
df["free_copy_mastering_the_interview"] = df.free_copy_mastering_the_interview.apply(lambda x: yesno_to_01(x.lower()))

In [627]:
df.free_copy_mastering_the_interview.value_counts()

free_copy_mastering_the_interview
0    6352
1    2888
Name: count, dtype: int64

In [628]:
df.last_notable_activity.value_counts()

last_notable_activity
Modified                        3407
Email Opened                    2827
SMS Sent                        2172
Page Visited on Website          318
Olark Chat Conversation          183
Email Link Clicked               173
Email Bounced                     60
Unsubscribed                      47
Unreachable                       32
Had a Phone Conversation          14
Email Marked Spam                  2
Approached upfront                 1
Resubscribed to emails             1
View in browser link Clicked       1
Form Submitted on Website          1
Email Received                     1
Name: count, dtype: int64

In [629]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Lead Number                        9240 non-null   int64
 1   origin                             9240 non-null   object
 2   lead_source                        9204 non-null   object
 3   send_email                         9240 non-null   int64
 4   call                               9240 non-null   int64
 5   Converted                          9240 non-null   int64
 6   TotalVisits                        9103 non-null   float64
 7   time_spent                         9240 non-null   int64
 8   num_page_per_visit                 9103 non-null   float64
 9   last_activity                      9137 non-null   object
 10  country                            6779 non-null   object
 11  specialization                     5860 non-null   object
 12  hear_about_source                  1990 non-null   object
 13  cur_occupation                     6550 non-null   object
 14  course_value                       6531 non-null   object
 15  search                             9240 non-null   int64
 16  magazine                           9240 non-null   int64
 17  newspaper_article                  9240 non-null   int64
 18  x_education_forum                  9240 non-null   int64
 19  newspaper                          9240 non-null   int64
 20  digital_Advertisement              9240 non-null   int64
 21  was_recommended                    9240 non-null   int64
 22  rcv_updates_course                 9240 non-null   int64
 23  Tags                               5887 non-null   object
 24  lead_quality                       4473 non-null   object
 25  rcv_updates_supplychain            9240 non-null   int64
 26  rcv_updates_dm                     9240 non-null   int64
 27  lead_profile                       2385 non-null   object
 28  City                               5571 non-null   object
 29  asymetric_activity_index           5022 non-null   object
 30  asymmetric_profile_index           5022 non-null   object
 31  asymmetric_activity_score          5022 non-null   float64
 32  asymmetric_profile_score           5022 non-null   float64
 33  agree_paymnt_cheque                9240 non-null   int64
 34  free_copy_mastering_the_interview  9240 non-null   int64
 35  last_notable_activity              9240 non-null   object
dtypes: float64(4), int64(17), object(15)
memory usage: 2.5+ MB

#### So now we have cleaned the data. All the columns having yes no have been converted to 1 and 0. Categorical variables having Select as value has been assigned nan values. We are treating Select as null value. So finally  we can see above all the columns data types are also appropriate